<% title 'Свежие публикации' %>
<h1>Свежие публикации</h1>
<%= flash_messages %>
<% if @posts.any? %>
<% @posts.each do |post| %>
    <div class="post">
      <h2 class="post-title"><%= link_to post.title, post %></h2>

      <div class="text-muted post-info">
        <span>Дата публикации: <%= l post.created_at.to_date %></span>
        <span>Кол-во комментариев: <%= post.comments.count %></span>
      </div>
      <div class="post-announcement">
        <%= markdown post.announcement %>
      </div>
    </div>
    <hr>
<% end %>

<% else %>
<p class="none">Нет постов</p>
<% end %>