<%= form_for([:admin, @post]) do |f| %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :announcement %><br>
    <%= f.text_area :announcement %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>

    <% if @post.persisted? %>
    <%= link_to 'Показать пост', @post, class: "btn btn-link" %>
    <%= link_to 'Удалить',  [:admin, @post],  method: :delete, data: { confirm: 'Вы уверены?' }, class: "btn btn-link" %>
    <% end %>

<% end %>
