<% title @post.title %>
<% breadcrumb :post, @post %>
<div class="post">
  <h2><%= @post.title %></h2>

  <div class="text-muted post-info">
    <span>Дата публикации: <%= l @post.created_at.to_date %></span>
    <span>Кол-во комментариев: <%= %></span>
  </div>

  <div class="post-content">
    <%= markdown @post.content %>
  </div>
</div>
<% if can? :update, @post %>
    <%= link_to 'Редактировать', edit_admin_post_path(@post), class: "btn btn-success" %>
<% end %>
